@charset "UTF-8";
/*Dev CSS */

Resethtml,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:;} a img{border:none;}

html, body {
	font-family: Abel, Arial, sans-serif;
	color:#333333;
	font-size:.9375em;
	background-color:#ffffff;
	height:100%;
    overflow:inherit;
	width:auto;

}

	

h1{
	font-family:Abel, Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:5em;
	text-align:center;
}



#logo {
	background: url(images/Logo.png) no-repeat top left;
	height: 7em;
	width:125px;
	margin-left:-75px;

}

#break {
	height:8px;
	margin-left:-15%;
	margin-top:10px;
	width:130%;
	background-color:#dde3e7;
}

/* Navigation */

ul.nav {
	list-style:none;
	width:100%;
	height:1.6em;
	min-width:600px;

}

ul.nav li {
	display:inline; 
	color:#609449;
	font-family:'Gentium Book Basic', serif;
	margin:90px 1.5% 0% 1.5%; 
	font-size:1.6em;
	}

ul.nav li a {
	cursor:pointer;
	text-decoration:none;
	color:#609449;
	font-family:'Gentium Book Basic', serif;
	padding:10px 10px 5px;
}

.nav a:hover {
	color: #d6f1ca;
    background: #aaaaaa;
    border-bottom: 2px solid #9a9a9a;
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	}
	
/* Social Nav */

ul.social {
	list-style:none;
	float:left;
	display:inline;
	width:100%;
	min-width:200px;
	}

ul.social li {
	float:left;
	display:inline;
	margin-top:40px;
}

ul.social li a {
	float:left;
	cursor:pointer;
	text-decoration:none;
	width:4em;
	height:4em;
	padding-left:.5%;
	padding-right:.5%;
}

ul.social li a span {
	position:relative;
	float:left;
	width:4em;
	height:4em;
	display:none;
}


li #facebook {
	background-image: url('images/facebook.png');
	background-repeat: no-repeat;
}

li #facebook:hover { 
	background-image: url('images/hfacebook.png');
	background-repeat: no-repeat;
}

li #twitter:hover { 
	background-image: url('images/htwitter.png');
	background-repeat: no-repeat;
}

li #mail:hover { 
	background-image: url('images/hemail.png');
	background-repeat: no-repeat;
}

li #twitter {
	background-image: url('images/twitter.png');
	background-repeat: no-repeat;
}

li #mail {
	background-image: url('images/mail.png');
	background-repeat: no-repeat;
}

/*Main Content*/
#content {
	margin-top:5%;
}

#school {
	float:left;
	position:relative;
	background-image: url(images/school.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:-5%;
	padding-top:20px;
	height:28.8125em;
	width:34.375em;
	z-index:-1;
	
}

#graph p {
	font-family:Abel, sans-serif;
	font-size:1.9em;
	color:#666666;
	text-align:center;
	padding:15px;
	margin-top:35px;
}

#graph {
	float:right;
	position:relative;
	background:url(images/graph.png);
	background-repeat:no-repeat;
	background-size:100%;
	height:20em;
	max-width:30em;
	min-width:300px;

}

/*Footer*/
#footer {
	clear:both;
	position:relative;
	background: url(images/bg.png); 
	background-repeat:repeat;
	height:6em;
	width:100%;
	border-top: 2px solid #1d3956;
}


p.footer {
	font-family:'Gentium Book Basic', serif;
	color:#ffffff;
	font-size:15px;
	margin: 30px 0px 0px 20px;
}

/*Portfolio*/

.portfolio {
	margin-top:1%;
	text-align:center;
	float:right;
}

#portnav h2  {
	color:#000000;
	font-family:'Quicksand', cursive;	
	font-weight:bold;
	font-size:1.5em;
	padding: 5px 0px 5px 0px;
	text-align:center;
}

#portnav {
	float:left;
	font-family:'Quicksand', cursive;
	font-weight:bold;
	font-size:1.3em;
	width:auto;
	/*moz-box-shadow: 5px 5px 5px #ccc;
  		-webkit-box-shadow: 5px 5px 5px #ccc;
  		box-shadow: 5px 5px 5px #ccc;*/
  }
  


#portnav li {
	text-align:left;
	padding:10px 40px 10px;
	border-right:1px solid #0e1b29;
	top:0px;
	
}

#portnav a {
    text-decoration:none;
	margin-top:20px;
	color:#5d5d5d;
}
#portnav a:hover {
	color:#000000;
}

ul.thumb {
	float: left;
	list-style: none;
	display:inline;
	margin-left: 0; 
	padding: 10px;
	
}
ul.thumb li {
	margin: 0; 
	padding: 5px;
	float: left;
	position: relative;
	width: 110px;
	height: 110px;
}
ul.thumb li img {
	width: 100px; 
	height: 100px;
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 0; 
	top: 0;
	-ms-interpolation-mode: bicubic; 
}
ul.thumb li img.hover {
	background:url(thumb_bg.png) no-repeat center center;
	border: none;
}
#main_view {
	float:left;
	padding: 9px 0;
	margin-left: 0px;
	clear:both;
	
	}